/**
nav
*/
.container-app {
    background-color: #ffffff;
}

#panel-container {
    padding: 20px;
}

.subtitle {
    padding: 10px;
}

.no-padding {
    padding: 0px !important
}

.no-padding-left {
    padding-left: 0px !important
}


.table {
	font-size: 10px;
	padding: 2px;
	margin: 2px
}

.table td, 
.table th {
	padding: 2px!important;
	margin: 2px!important
}