/**
nav
*/
.container-app {
    background-color: #ffffff;
    width: 1300px;
}

#panel-container {
    padding: 20px;
}

.subtitle {
    padding: 10px;
}

.no-padding {
    padding: 0px !important
}

.no-padding-left {
    padding-left: 0px !important
}


.table-dashboard {
    font-size: 10px;
    padding: 2px;
    margin: 2px
}

.table-dashboard td,
.table-dashboard th {
    padding: 2px !important;
    margin: 2px !important
}


@media print {
    .nav {
        display: none;
    }

    body {
        margin: 0 auto;
    }

    #current-event {
        display: none;
    }

    #reset-points {
        display: none;
    }

}